

<div class="container">
  <h2>About</h2>
  <p>
    The data in the Glossarial Database was compiled from the texts in the Riverside Chaucer and George Macaulay’s
    edition of John Gower’s ‘English Works’. Headwords are lemmatized (normalized) to conform to the headwords in the Middle English Dictionary.
  </p>
</div>
