<div class="container">
  <h2>About</h2>

  <p>
  The data in the Glossarial Concordance was compiled, lemmatized, and tagged by the late Larry D. Benson (1929-2015),
  Francis Lee Higginson Professor of English at Harvard University. The data were derived from the text published under
  Benson’s editorship as <em>The Riverside Chaucer</em> (Boston, MA: Houghton Mifflin, 1987) as well as the text of
  <em>The English Works of John Gower</em>, ed. G. C Macaulay, 2 vols. Early English Text Society, Extra Series, 81-2 (1900-1).
  Headwords are lemmatized (normalized) to conform to the headwords in <em>The Middle English Dictionary</em>, ed. Hans Kurath et al.
  (Ann Arbor: University of Michigan, 1952—).
  </p>

  <p>
  The Concordance is now limited to the works of Chaucer and the English works of Gower but there are plans for expansion.
  Anyone with a tagged text they would like included in the database or interested in tagging a Middle English text for
  inclusion should {{#link-to 'contact'}}contact us{{/link-to}}. Benson’s tagging scheme (derived from the abbreviations
  used in the Middle English Dictionary) is available {{#link-to 'tags'}}here{{/link-to}}.

  The website was designed by Mark Patton, Senior Software Engineer, and its hosting at Johns Hopkins University is made
  possible by the generosity of Sayeed Choudhury, Associate Dean for Research Data Management, and Winston Tabb, Sheridan
  Dean of University Libraries and Museums. Thanks are also due to Daniel Donoghue and Bill Barthelmy of Harvard University
  and Amanda Benson for providing access to this data. Permission is granted to use this material for non-commercial purpose
  with proper attribution.
  </p>

  <p>
    Source code for the site is available on <a href="https://github.com/jhu-digital-manuscripts/gcme">GitHub</a>.
  </p>
</div>
