<div id="gcme-header" class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <img src="/sheridan-libraries.logo.large.horizontal.white.png">
    {{#link-to 'index' class='navbar-brand'}}Glossarial Concordance to Middle English<br>
    <small>The Works of Geoffrey Chaucer and the English Works of John Gower</small>{{/link-to}}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to 'about' class='nav-link'}}About{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'search' class='nav-link'}}Search{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'tags' class='nav-link'}}Tags{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'help' class='nav-link'}}How To Guide{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'contact' class='nav-link'}}Contact{{/link-to}}
        </li>
      </ul>
  </div>
  </nav>
</div>

<div class='container-fluid'>
  {{outlet}}
</div>

<div class='container mt-4'>
  <p class='text-center'>
    <small>rev. {{app-version hideVersion=true}}</small>
  </p>
</div>
