<div class="container">
  <h2>Contact Us</h2>

  <p>
    Please send feedback and questions to <a href="mailto:contactus@middleenglish.library.jhu.edu">contactus@middleenglish.library.jhu.edu</a>
  </p>
</div>
