<div class="container">
  <h2>Contact Us</h2>

  <p>
    Please send feedback and questions to <a href="mailto:contactus@middleenglish.library.jhu.edu">contactus@middleenglish.library.jhu.edu</a>
  </p>

  <p>
    Bug reports should include a description of how to recreate the problem and the name and version of the web browser being used.
  </p>
</div>
