<div class="container">

<h2>Help</h2>

<p>
The texts in the Glossarial Concordance to Middle English have been divided into lines
and each word of each line has been assigned a headword taken from the Middle English
Dictionary as well as a grammatical tag which identifies the word’s part of speech.
For example the word <code>horse</code> has a headword of <code>hors</code> and a tag
 of <code>n</code>, which indicates that the word is a noun.
</p>

<p>
The texts in this concordance can be searched either by the word’s form in Middle English
or the headword in the <em>Middle English Dictionary</em>. When you begin to type the letters
of a word into an entry box a list of words or dictionary headwords matching what you
have typed are shown. Along with the full match, spelling variants, different words with
the same or similar spelling forms, and dictionary headwords (for the word or variants)
along with definition of the matching word are shown. <strong>Multiple words or headwords may be entered.</strong>
</p>

<p>
The list of texts follows the structure of the <em>Riverside Chaucer</em> and G. C. Macaulay’s
edition of <em>The English Works of John Gower</em>, although subcategories have been allowed
to overlap to allow for more refined searching (e.g. you may search for a word or words in
Fragment 1 of the Canterbury Tales or one of the tales or prologues within that fragment;
you may search for a word or word in a book of the <em>Confessio Amantis</em> or any subdivision of that book).
</p>

<p>
When you click on the <strong>Search</strong> button, lines in the texts which contain the words or forms
matching those you have specified will begin to fill the line automatically (and will
be refined as you continue to type). When you enter multiple words and select the box
asking that ‘All words and headwords must be present in a line’ your search results will
contain only lines that contain <em>all</em> the words you have searched for (if you do not check
that box you will get all the lines that include <em>any</em> of the words you are searching for).
Your results are normally ordered by a statistical measure of relevance but, if you check
the box ‘sort results by location instead of relevance’, the results will be ordered as in
the <em>Riverside</em> and Macaulay’s <em>Gower</em> as well as line numbers of those texts in these editions
 Only a certain number of results will be shown at a time, but they can be paged through.
 For a new search, click on the <strong>Clear</strong> button and the currently entered query and matches will be removed.
</p>

<p>
The ‘columns’ function to the right of the results of a search lets you decide whether
to see only the text of the line or lines in which a form or headword appears, or
the tagged text, or the plain text and the tagged text at the same time.
</p>

</div>
