<div class="container">

<h2>How To Guide</h2>

<p>
The texts in the <em>Glossarial Concordance to Middle English</em> have been divided into lines
and each word in each line has been assigned to a headword in the Middle English Dictionary
(<em>MED</em>) as well as a grammatical tag which identifies that word’s part of speech. For example,
the word <code>horse</code> is linked to the headword <code>hors</code> in the <em>MED</em> and is tagged
<code>n</code>, which indicates that <code>hors</code> is a noun.
</p>

<p>
The concordance can be searched <strong>in three ways</strong>: 1) by the <strong>exact spelling</strong> in which a word appears in the
<em>Riverside Chaucer</em> or Macaulay’s edition of <em>The English Works of John Gower</em>; 2) by <strong>headword</strong> in the Middle
English Dictionary (a search that brings together every spelling and grammatical form of a given word);
and 3) by <strong>part of speech</strong> (each word has been labeled according to grammatical function). <strong>Multiple words
or headwords may be entered for each search</strong>, and autofill helps to refine a search term by presenting
a set of alternative terms as you type.
</p>

<p>
The dropdown list of searchable texts follows the structure of the <em>Riverside Chaucer</em> and Macaulay’s <em>Gower</em>,
and subcategories allow you to search, not only in particular texts, but in parts of texts. For example,
you may search for a word or words in Fragment 1 of the <em>Canterbury Tales</em> or one of the tales or prologues
within that fragment; you may search for a word - or word in a book - of the <em>Confessio Amantis</em> or in any
subdivision of that book.
</p>

<p>
Search results are normally ordered by a statistical measure of relevance but, if you check the box:
“Sort results by location instead of relevance,” lines will be ordered as in the <em>Riverside</em> and Macaulay’s <em>Gower</em> with
line numbers keyed to these editions. <strong>If you wish to search for collocations</strong>, select the box:
‘All words and headwords … present in a line’. This will return only those lines in which all the
words or headwords you are searching for appear. The ‘columns’ function to the right of the results of
a search lets you select a box which reveals the grammatical tags for each word in each line. This
function also lets you toggle the ‘location’, ‘line number’, and the text of the line itself on or off in your results.
</p>

</div>
