<h2>Help</h2>

<p>
The texts in the Glossarial Concordance to Middle English have been divided into lines
and each word of each line assigned a headword and a tag. The tag gives information
about the word such as part of speech.
</p>

<p>
The texts can be searched by word and headword. When you type into an entry box a list
of words or headwords matching what you have typed are shown. Note that if there are
many matches, not every match may be shown. Along with the full match, a defintion
of the match is given to help you determine if it is what you want to search for.
Multiple words or headwords may be entered. An already entered term may be removed
by clicking on it or hitting backspace.
</p>

<p>
When you hit the Search button, lines in the text which contain words matching
those you have specified will be shown. The results will either be orded by a statistical
measure of relevance or by the order of the line in the text which contains it.

Only a certain number of results will be shown at a time, but they can be paged through.

To start over from scratch, click on the Clear button and the currently entered query
and matches will be removed.
</p>
