<h2>Help</h2>

<p>
The texts in the Glossarial Concordance to Middle English have been divided into lines
and each word of each line assigned a headword and a tag. The tag gives information
about the word such as part of speech. For example the word <code>horse</code> has a headword
of <code>hors</code> and a tag of <code>n</code>. The tag indicates the word is a noun.
</p>

<p>
The texts can be searched by word and headword. When you type into an entry box a list
of words or headwords matching what you have typed are shown. The headwords will have
a tag associated with them like <code>hors@n</code>. Note that if there are
many words or headwords matching the prefix you have typed, not every match may be shown.
Along with the full match, word variants (headword only) and a definition of the matching word are shown.
Multiple words or headwords may be entered. An already entered word or headword may be removed
by clicking on it or hitting backspace.
</p>

<p>
The texts have been organized into a heirarchical structure. A query can be restricted
to only match some parts of that structure.
</p>

<p>
When you click on the Search button, lines in the texts which contain words matching
those you have specified will be shown. The results will either be orded by a statistical
measure of relevance or by the order of the line in the text which contains it.

Only a certain number of results will be shown at a time, but they can be paged through.

To start over from scratch, click on the Clear button and the currently entered query
and matches will be removed.
</p>
