
<div class="container">

<form>
  <div class="form-group">
    <label for="query">Query</label>
    <input type="text" class="form-control" id="query" aria-describedby="queyrHelp" placeholder="Enter query">
    <small id="emailHelp" class="form-text text-muted">Enter words or lemmas</small>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>
