<h2>Tagging scheme</h2>

<div type="container">
  <p>
    Add some information about the tagging here.
  </p>

  {{models-table
    data=model
    columns=columns
    showComponentFooter=false
    showColumnsDropdown=false
    useFilteringByColumns=false
    showGlobalFilter=false
    themeInstance=theme
    useDataGrouping=true
    dataGroupProperties=groupProperties
    currentGroupingPropertyName="group"
    pageSize=200
  }}
</div>
